{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>K'Dance - Adhérents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="K'Dance - Adhérents">
    <meta name="author" content="Andréa Marnier">
    <meta name="description" content="Gestion des adhérents pour l'association K'Dance de Villemur-sur-Tarn.">

    <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.3.min.css' %}"  rel="stylesheet" />
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet"> 
</head>

<body>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

  {% include "includes/navigation.html" %}

  {% block content %}{% endblock %}

  {% include 'includes/footer.html' %}

</body>


</html>
