<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% load static %}

<footer class="footer pt-6 pb-2 mt-4">
  <div class="container">
    <div class="text-center fs-8 text">
      En cas de problème technique ou de question sur l'inscription via cet espace, vous pouvez envoyer un email à <a
        href="mailto:tech@association-kdance.fr">tech@association-kdance.fr</a>.<br />
      Pour toute question concernant l'organisation des cours, contactez le bureau K'Dance par <a
        href="mailto:kdance31340@gmail.com">email</a> ou par téléphone au 0768294811.
    </div>
    <hr>
    <div class="text-center fs-8 text">
      Copyright 2024-2025. Application sous licence GNU AGPL v3. <a href="https://github.com/PetitCoinCoin/kdance-registration" target="_blank">Code source</a>.
    </div>
  </div>
</footer>
