{% extends 'layouts/base.html' %}

{% block content %}

<main>
  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Connexion à votre espace adhérent</h1>
      </div>
      <div class="d-flex flex-column align-items-center">
        <form id="form-login" class="min-w-500 d-flex flex-column" method="post">
          {% csrf_token %}
          <div class="form-outline mb-4">
            <label class="form-label" for="username">Nom d'utilisateur</label>
            <input type="text" name="username" class="form-control" />
          </div>
  
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Mot de passe</label>
            <input type="password" name="password" class="form-control" />
          </div>
  
          {% if error %}
            <div class="p-3 mb-2 bg-danger-subtle text-danger-emphasis">
              {{ error }}
            </div>
          {% endif %}
          <button type="submit" class="btn btn-info mb-4">Connexion</button>
        </form>
        <div>Pas encore adhérent ? <a href="{% url 'signup' %}">Créer un compte</a></div>
        <div>Mot de passe oublié ?</div>
      </div>      
    </div>
  </section>
</main>

{% endblock content %}
