<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">A propos</h1>
      </div>
      <div id="about-div" class="container mt-5">
        <p>
          Cet espace a été conçu pour vous permettre de gérer vos inscriptions aux cours de l'association
          K'Dance. Vous pourrez désormais également facilement mettre à jour vos coordonnées, afin de pouvoir
          recevoir toutes les informations envoyées pendant l'année.
        </p>
        <p>
          Principales nouveautés du site pour cette année:
          <ul>
            <li>paiement en ligne, par carte ou virement. Les moyens de paiement habituels restent possibles,</li>
            <li>listes d'attente: vous pourrez désormais voir de suite si le cours que vous souhaitez est complet ou non,</li>
            <li>design mobile: la mise en page et la navigation ont été revues pour une expérience plus agréable sur téléphone</li>
          </ul>
          Si vous avez des suggestions, des remarques, ou que vous constatez un problème, n'hésitez pas à
          envoyer un email au support technique: <a href="mailto:tech@association-kdance.fr">tech@association-kdance.fr</a>.
        </p>
        <p>
          Vos données sont conservées, comme les années précédentes, uniquement afin de pouvoir vous joindre en cas de
          problème, ou tout simplement pour diffuser des informations liées à la vie de l'association. Il est également
          prévu (mais pas encore implémenté !) de supprimer toutes vos données après un certain temps d'inactivité sur
          le compte.
        </p>
        <p>
          Vous savez tout ! Vous pouvez désormais {% if user.is_authenticated %}<a href="/">retourner sur votre
            compte</a>{% else %}<a href="/login">aller vous connecter</a>{% endif %}.<br />A bientôt,
        </p>
        <p>
          L'équipe K'Dance
        </p>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
