<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
	<section>
		<!-- Toast -->
		<div class="toast-container position-fixed bottom-0 end-0 p-3">
			<div id="checkout-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body fw-semibold" id="checkout-error-body"></div>
					<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="text-center">
				<h1 class="display-4 mb-5">Paiement de l'inscription</h1>
			</div>
			{% if user.is_authenticated %}
			<div class="container">
				<p><strong>Saison:</strong> {{season.year}}</p>
				<p id="checkout-due"></p>
				<p id="checkout-details"></p>
				<p class="main-red fst-italic">
					<strong>
						<i class="bi-exclamation-diamond"></i>
						Le paiement entraine la validation de l'inscription. Après validation de votre inscription, toute modification, ajout, ou suppression de cours pour les
						adhérents inscrits devra se faire auprès de l'équipe K'Dance. Il ne sera plus possible de supprimer un adhérent. L'adhésion restera dûe quoi qu'il arrive.
					</strong>
				</p>

				<div class="accordion" id="payment-accordion">
					<div class="accordion-item">
						<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-card" aria-expanded="true" aria-controls="collapseOne">
							<strong>Paiment en ligne</strong>
						</button>
						</h2>
						<div id="accordion-card" class="accordion-collapse collapse show">
						<div class="accordion-body">
							Pour le paiement en ligne (carte, Paypal, Google Pay), merci de
							<a href="{{cawl_redirection}}">cliquez ici</a>
						</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-other" aria-expanded="false" aria-controls="collapseTwo">
							<strong>Autres moyens de paiement</strong>
						</button>
						</h2>
						<div id="accordion-other" class="accordion-collapse collapse">
							<div class="accordion-body">
								<p class="fw-semibold">Vous pouvez venir déposer votre règlement à l'association, lors des permanences ou
									dans la boite aux lettres mise à disposition.</p>
								<p>
									Modes de paiement acceptés:<br />
								<ul>
									<li>Espèces,</li>
									<li>Chèques: jusqu'à 6, encaissés du mois d'ocotobre au mois d'avril (sauf en décembre <i
											class="bi-tree"></i>),</li>
									<li>Chèques ANCV,</li>
									<li>Coupons sport,</li>
									<li>Pass Sport: à saisir directement dans votre espace.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	<script type="text/javascript">
		const userMeUrl = "{% url 'api-user-me' %}";
		const userEmail = "{{ user.email }}";
	</script>
	<script src="{% static 'js/checkout.js' %}"></script>
</main>

{% endblock content %}
