{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
	<section>
    <!-- Modal -->
    {% csrf_token %}
    <div class="modal fade" id="add-teacher-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ajouter un professeur</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-add-teacher" name="form-add-teacher">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="name-add">Nom du professeur</label>
                <input type="text" id="name-add" class="form-control" maxlength="30" required/>
                <div id="invalid-name-add" class="invalid-feedback"></div>   
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="add-teacher-btn" type="submit" class="btn btn-info">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-teacher-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modifier un professeur</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-edit-teacher" name="form-edit-teacher">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="name-edit">Nom du professeur</label>
                <input type="text" id="name-edit" class="form-control" maxlength="30" required/>
                <div id="invalid-name-edit" class="invalid-feedback"></div>   
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="edit-teacher-btn" type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="delete-teacher-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Supprimer un professeur</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Etes-vous sur.e de vouloir supprimer ce professeur ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="delete-teacher-btn" type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add-season-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ajouter une saison</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-add-season" name="form-add-season">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="year-add">Nouvelle saison (format 20XX-20XY)</label>
                <input type="text" id="year-add" class="form-control" maxlength="9" required/>
                <div id="invalid-year-add" class="invalid-feedback"></div>   
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="current-add" checked>
                <label class="form-check-label" for="current-add">
                  Saison courante ?
                </label>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="add-season-btn" type="submit" class="btn btn-info">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add-course-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="add-course-modal-title">Ajouter un cours pour la saison</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-add-course" name="form-add-course">
            <div class="modal-body">
              <input type="text" id="course-season-add" class="form-control" required hidden/>
              <div class="form-outline mb-4">
                <label class="form-label required" for="course-name-add">Nom du cours</label>
                <input type="text" id="course-name-add" class="form-control" maxlength="150" required/>
                <div id="invalid-course-name-add" class="invalid-feedback"></div>   
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-weekday-add">Jour de la semaine</label>
                    <select id="course-weekday-add" class="form-select"></select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-start-add">Heure de début</label>
                    <input type="time" id="course-start-add" class="form-control" required/> 
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-end-add">Heure de fin</label>
                    <input type="time" id="course-end-add" class="form-control" required/> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-teacher-add">Professeur</label>
                    <select id="course-teacher-add" class="form-select"></select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-price-add">Tarif (€)</label>
                    <input type="number" id="course-price-add" class="form-control" required/> 
                  </div>
                </div>
              </div>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="add-course-btn" type="submit" class="btn btn-info">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Content -->
		<div class="container">
			<div class="text-center">
				<h1 class="display-4 mb-5">Gestion des cours</h1>
			</div>
			{% if user.is_authenticated and user.is_superuser %}
			<div class="container">
				<div class="d-flex justify-content-between mb-5">
					<select id="season-select" class="form-select max-w-300">
					</select>
					<button id="add-season-btn" class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#add-season-modal">
						<i class="bi-patch-plus" style="color: purple;"></i>
						Ajouter une nouvelle saison
					</button>
				</div>
				<div class="row">
					<div class="accordion" id="courses-accordion">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false"
									data-bs-target="#courses-teachers" aria-controls="courses-teachers">
									<span>Professeurs</span>
								</button>
							</h2>
							<div id="courses-teachers" class="accordion-collapse collapse collapsed template-data"
								data-bs-parent="#courses-accordion">
								<div class="accordion-body">
									<ul id="teachers-list" class="list-group mb-3">
									</ul>
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#add-teacher-modal">
                    <i class="bi-patch-plus" style="color: purple;"></i>
                    Ajouter un nouveau professeur
                  </button>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true"
									data-bs-target="#courses-courses" aria-controls="courses-courses">
									<span>Cours</span>
								</button>
							</h2>
							<div id="courses-courses" class="accordion-collapse show collapsed template-data"
								data-bs-parent="#courses-accordion">
								<div class="accordion-body">
									<ul id="courses-list" class="list-group mb-3">
									</ul>
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#add-course-modal">
                    <i class="bi-patch-plus" style="color: purple;"></i>
                    Ajouter un nouveau cours
                  </button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<template id="teacher-item-template">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<img height="30">
							<span></span>
						</div>
						<div>
							<button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#edit-teacher-modal">
								<i class="bi-pencil-fill"></i>Modifier
							</button>
							<button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete-teacher-modal">
								<i class="bi-trash3-fill"></i>Supprimer
							</button>
						</div>
					</li>
				</template>
			</div>
			{% else %}
			<div class="text-center">
				<h4 class="display-4 mb-5">Oh oh, vous n'avez rien à faire là !</h4>
			</div>
			{% endif %}
		</div>
	</section>
	<script type="text/javascript">
		const coursesUrl = "{% url 'api-courses-list' %}"
		const seasonsUrl = "{% url 'api-seasons-list' %}"
		const teachersUrl = "{% url 'api-teachers-list' %}"
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
	</script>
	<script src="{% static 'js/courses.js' %}"></script>
</main>

{% endblock content %}