{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toasts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="course-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="course-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    {% csrf_token %}
    <div class="modal fade" id="season-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="season-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-season" name="form-season">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="season-year">Saison (format XXXX-YYYY)</label>
                <input type="text" id="season-year" class="form-control" maxlength="9" required />
                <div id="invalid-season-year" class="invalid-feedback"></div>
              </div>
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="season-current" checked>
                <label class="form-check-label" for="season-current">
                  Saison courante ?
                </label>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="season-discount-percent">Réduction appliquée (en %)</label>
                <input type="number" id="season-discount-percent" class="form-control" min="0" max="100" value="10" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="season-discount-limit">Réduction à partir de .. cours</label>
                <input type="number" id="season-discount-limit" class="form-control" min="0" value="2" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="season-btn" type="submit" class="btn btn-info">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="copy-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="copy-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-copy" name="form-copy">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="copy-season">Copier tous les cours de la saison:</label>
                <select id="copy-season" class="form-select"></select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Copier</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="teacher-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="teacher-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-teacher" name="form-teacher">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="teacher-name">Nom du professeur</label>
                <input type="text" id="teacher-name" class="form-control" maxlength="30" required />
                <div id="invalid-teacher-name" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="teacher-btn" type="submit" class="btn btn-info">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="course-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="course-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-course" name="form-course">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="course-name">Nom du cours</label>
                <input type="text" id="course-name" class="form-control" maxlength="150" required />
                <div id="invalid-course-name" class="invalid-feedback"></div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-weekday">Jour de la semaine</label>
                    <select id="course-weekday" class="form-select"></select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-start">Heure de début</label>
                    <input type="time" id="course-start" class="form-control" required />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-end">Heure de fin</label>
                    <input type="time" id="course-end" class="form-control" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="course-teacher">Professeur</label>
                    <select id="course-teacher" class="form-select"></select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="course-price">Tarif (€)</label>
                    <input type="number" id="course-price" class="form-control" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button id="course-btn" type="submit" class="btn btn-info"></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="delete-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="delete-btn" type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Gestion des cours</h1>
      </div>
      {% if user.is_authenticated and user.is_superuser %}
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="border-bottom">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <div class="dropdown dropdown-hover">
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'member_mgmt' %}">Gérer les adhérents</a></li>
                <li><a class="dropdown-item" href="{% url 'admin_mgmt' %}">Gérer les admins</a></li>
                <li><a class="dropdown-item" href="{% url 'list_dl' %}">Listes et téléchargements</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'super_index' %}">Admin</a></li>
              </ul>
            </div>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Gestion des cours</li>
        </ol>
      </nav>
      <div class="container mt-3">
        <div class="d-flex justify-content-between mb-3">
          <select id="season-select" class="form-select max-w-300">
          </select>
          <div>
            <button id="add-season-btn" class="btn btn-outline-info" type="button" data-bs-toggle="modal"
              data-bs-target="#season-modal">
              <i class="bi-plus-square main-red"></i>
              Ajouter une nouvelle saison
            </button>
            <button id="edit-season-btn" class="btn btn-outline-info" type="button" data-bs-toggle="modal"
              data-bs-target="#season-modal">
              <i class="bi-pencil-fill"></i>
            </button>
            <button id="delete-season-btn" class="btn btn-outline-danger" type="button" data-bs-toggle="modal"
              data-bs-target="#delete-modal">
              <i class="bi-trash3-fill"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="accordion" id="courses-accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
                  data-bs-target="#courses-teachers" aria-controls="courses-teachers">
                  <span>Professeurs</span>
                </button>
              </h2>
              <div id="courses-teachers" class="accordion-collapse collapse collapsed template-data">
                <div class="accordion-body">
                  <ul id="teachers-list" class="list-group mb-3">
                  </ul>
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="modal"
                    data-bs-target="#teacher-modal">
                    <i class="bi-plus-square main-red"></i>
                    Ajouter un nouveau professeur
                  </button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true"
                  data-bs-target="#courses-courses" aria-controls="courses-courses">
                  <span>Cours</span>
                </button>
              </h2>
              <div id="courses-courses" class="accordion-collapse collapse show template-data">
                <div class="accordion-body">
                  <div class="mb-4">
                    <table id="courses-table"></table>
                  </div>
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="modal"
                    data-bs-target="#course-modal">
                    <i class="bi-plus-square main-red"></i>
                    Ajouter un nouveau cours
                  </button>
                  <button id="copy-courses-btn" class="btn btn-outline-info" type="button" data-bs-toggle="modal"
                    data-bs-target="#copy-modal">
                    <i class="bi-plus-square main-red"></i>
                    Copier tous les cours d'une autre saison
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Template -->
        <template id="teacher-item-template">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <img height="30">
              <span></span>
            </div>
            <div>
              <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="modal"
                data-bs-target="#teacher-modal">
                <i class="bi-pencil-fill"></i>Modifier
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="modal"
                data-bs-target="#delete-modal">
                <i class="bi-trash3-fill"></i>Supprimer
              </button>
            </div>
          </li>
        </template>

      </div>
      {% else %}
      <div class="text-center">
        <h4 class="display-4 mb-5">Oh oh, vous n'avez rien à faire là !</h4>
      </div>
      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const coursesUrl = "{% url 'api-courses-list' %}";
    const copyCoursesUrl = "{% url 'api-courses-copy-season' %}";
    const seasonsUrl = "{% url 'api-seasons-list' %}";
    const teachersUrl = "{% url 'api-teachers-list' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/courses.js' %}"></script>
</main>

{% endblock content %}
