{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toasts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="pwd-success-toast" class="toast align-items-center bg-info" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold">
            Mot de passe changé avec succès.
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="user-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="user-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    {% csrf_token %}
    <div class="modal fade" id="copy-member-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Renouveler un adhérent pour la nouvelle saison</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-outline">
              <label class="form-label" for="copy-member-select">Adhérent</label>
              <select id="copy-member-select" class="form-select"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="copy-btn" type="button" class="btn btn-info" {% if not allow_new_member %} disabled {% endif %}>Renouveler</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="delete-modal-title">Supprimer un adhérent</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="delete-btn" type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Mon compte K'Dance</h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <div class="row">
          <div class="col-10 col-sm">
            <dl class="row">
              <dt class="col-sm-3">Email:</dt>
              <dd id="desc-email" class="col-sm-9"></dd>
              <dt class="col-sm-3">Prénom:</dt>
              <dd id="desc-firstname" class="col-sm-9"></dd>
              <dt class="col-sm-3">Nom:</dt>
              <dd id="desc-lastname" class="col-sm-9"></dd>
              <dt class="col-sm-3">Téléphone:</dt>
              <dd id="desc-phone" class="col-sm-9"></dd>
              <dt class="col-sm-3">Adresse:</dt>
              <dd id="desc-address" class="col-sm-9"></dd>
            </dl>
          </div>
          <div class="col-1">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Modifier mes infos" data-bs-placement="left">
              <button class="btn btn-outline-info" type="button" onclick="window.location='/user_edit'">
                <i class="bi-pencil-fill"></i>
              </button>
            </span>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Modifier mon mot de passe" data-bs-placement="left">
              <button class="btn btn-outline-warning" type="button" onclick="window.location='/user_edit_pwd'">
                <i class="bi-lock-fill"></i>
              </button>
            </span>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Supprimer mon compte" data-bs-placement="left">
              <button id="delete-me-btn" class="btn btn-outline-danger" type="button" onclick="window.location='/user_delete'">
                <i class="bi-trash3-fill"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="mb-3">
          {% if current_season.is_before_pre_signup %}
            <div class="border border-warning border-5 rounded px-2 pt-2 mb-2">
              <h5>Ré-inscriptions</h5>
              <p>
              Uniquement pour les adhérents <span class="border-bottom border-danger">inscrits la saison précédente, sur leur discipline en priorité</span>: <strong>du {{ current_season.pre_signup_start }} au {{ current_season.pre_signup_end }}.</strong><br/>
              <i class="bi bi-exclamation-triangle"></i> Les tarifs de licence FFD sont mis à jour pendant l'été. Ils sont donc susceptibles d'être modifiés ultérieurement.
              </p>
              <p class="main-red fw-semibold">L'inscription ne sera valide que si le <span class="border-bottom border-danger">paiement est effectué avant le {{ pre_signup_payment_end }}</span>.</p>
            </div>
          {% endif %}
          {% if current_season.is_before_signup %}
            <div class="border border-warning border-5 rounded px-2 pt-2 mb-2">
              <h5>Inscriptions</h5>
              <p>Les inscriptions en ligne pour cette saison auront lieu <strong>du {{ current_season.signup_start }} au {{ current_season.signup_end }}.</strong> Elles sont ouvertes à toutes et à tous, et le paiement validera l'inscription.</p>
            </div>
          {% elif current_season.is_after_signup %}
            <div class="border border-warning border-5 rounded px-2 pt-2 mb-2">
              <h5>Inscriptions</h5>
              <p>Les inscriptions sont terminées pour la saison {{ current_season.year }}. <strong>Vous ne pouvez plus ajouter d'adhérent.</strong></p>
            </div>
          {% endif %}
          <details>
            <summary class="main-blue mb-1"><i class="bi-info-circle"> Comment ça marche ?</i> </summary>
            <p>
              Pour commencer l'inscription, cliquez sur <span class="main-blue fst-italic">Ajouter un nouvel adhérent</span> dans la saison en cours.
              Recommencez pour chaque adhérent de la famille.<br />
              Pour une ré-inscription, vous pouvez également cliquer sur <span class="main-blue fst-italic">Ajouter un adhérent d'une saison précédente</span>.<br />
              L'inscription sera validée à réception du paiement.
            </p>
            <p class="fst-italic">Pour en savoir un peu plus sur cet espace, <a href="/about">cliquez ici</a>.</p>
          </details>
          {% if not allow_new_member and not current_season.is_after_signup  %}
            <p>Les inscriptions sont impossibles pour le moment. N'hésitez pas à contacter le bureau K'Dance par <a
              href="mailto:kdance31340@gmail.com">email</a> ou par téléphone au 0768294811.</p>
          {% endif %}
        </div>
        <div class="row">
          <div class="accordion" id="member-accordion">
          </div>
        </div>
      </div>

      <!-- Template -->
      <template id="accordion-item-template">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true">
              <span>Saison</span>
            </button>
          </h2>
          <div class="accordion-collapse collapse show template-data">
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-12 col-sm-8">
                  <dl class="d-flex mb-0">
                    <dt class="me-2">Total dû:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                  <dl class="d-flex mb-0">
                    <dt class="me-2">Payé:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                  <dl class="d-flex mb-2">
                    <dt class="me-2">Remboursement perçu:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                </div>
                <div class="season-btn-div d-flex flex-column col-12 col-sm-4"></div>
              </div>

          <div class="col-12 col-sm-8 mb-3 dropdown medical-dropdown">
            <b>Ai-je besoin d'un certificat médical ?</b><br/>
            <p>
              Téléchargez l'auto-questionnaire correspondant à votre situation. Si vous répondez au moins une fois "oui", vous avez besoin d'un certificat.
              Sinon, vous pouvez télécharger et remplir l'attestation sur l'honneur disponible.
            </p>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Télécharger un document
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button" onclick="window.open('download-pdf/?doc=auto-questionnaire-sante-mineurs')">Auto-questionnaire enfant</button></li>
              <li><button class="dropdown-item" type="button" onclick="window.open('download-pdf?doc=auto-questionnaire-sante-adultes')">Auto-questionnaire adulte</button></li>
              <li><button class="dropdown-item" type="button" onclick="window.open('download-pdf?doc=attestation-sur-honneur-kdance')">Attestation sur l'honneur</button></li>
            </ul>
          </div>

            </div>
          </div>
        </div>
      </template>

      <template id="card-template">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div>
              <img height="30">
              <span></span>
            </div>
            <div>
              <button class="btn btn-outline-info m-edit-btn" type="button">
                <i class="bi-pencil-fill"></i>
              </button>
              <button class="btn btn-outline-danger m-delete-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#delete-modal">
                <i class="bi-trash3-fill"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <p class="bg-warning" hidden>
              <i class="bi bi-exclamation-triangle"></i>
              Certains cours sont complets et vous êtes sur liste d’attente. Vous serez informé.e par email si une place se libère ou que le cours est dédoublé.</p>
            <ul></ul>
          </div>
        </div>
      </template>

      <template id="member-btn-template">
        <button class="btn btn-info mb-1" type="button" data-bs-toggle="modal" data-bs-target="#copy-member-modal"
          id="copy-member-btn" {% if not allow_new_member %} disabled {% endif %}>
          <i class="bi-plus-square"></i>
          Ajouter un adhérent d'une saison précédente
        </button>
        <button class="btn btn-info mb-1" type="button" onclick="window.location='/member'"
          id="add-member-btn" {% if not allow_new_member %} disabled {% endif %}>
          <i class="bi-plus-square"></i>
          Ajouter un nouvel adhérent
        </button>
        <button class="btn btn-success mb-1" type="button" onclick="window.location='/checkout'"
          id="checkout-btn" {% if not allow_new_member %} disabled {% endif %}>
          <i class="bi-currency-euro"></i>
          Payer l'inscription
        </button>
      </template>

      <template id="member-doc-template">
        <br />
        <li class="list-group-item">
          <i></i> Autorisation d'utilisation des photos
        </li>
        <li class="list-group-item">
          <i></i> Autorisation parentale
        </li>
        <li class="list-group-item">
          <i></i>
        </li>
      </template>

      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const userMeUrl = "{% url 'api-user-me' %}";
    const userMeValidateUrl = "{% url 'api-user-me-validate' %}";
    const membersUrl = "{% url 'api-members-list' %}";
    const settingsUrl = "{% url 'api-settings-detail' %}";
    const previousSeason = "{{ current_season.previous_season }}";
    const isPreSignupOngoing = "{{ current_season.is_pre_signup_ongoing }}".toLowerCase() === "true";
    const isSignupOngoing = "{{ current_season.is_signup_ongoing }}".toLowerCase() === "true";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/user.js' %}"></script>
</main>

{% endblock content %}
