{% extends 'layouts/base.html' %}
<!-- {% load static %} -->

{% block content %}

<main>


  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-5">Page Adhérent K'Dance</h1>
      </div>
      <div class="col-12 text-center">
        
        <div class="d-flex justify-content-center align-items-center mb-5">
          {% if user.is_authenticated %}
          Bonjour {{user.first_name}}
          {% else %}
          Va chier
          {% endif %}
        </div>
        <div class="d-flex justify-content-center flex-column mb-6 mb-lg-5">
            Pouet
            <!-- {% csrf_token %} -->
        </div>
    </div>
    </div>
  </section>
</main>

{% endblock content %}
