{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toasts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="pwd-success-toast" class="toast align-items-center bg-info" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold">
            Mot de passe changé avec succès.
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="user-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="user-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    {% csrf_token %}
    <div class="modal fade" id="edit-me-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modifier mes informations</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-me" name="form-me">
            <div class="modal-body">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-username">Nom d'utilisateur</label>
                <input type="text" id="edit-me-username" class="form-control" required />
                <div id="invalid-edit-me-username" class="invalid-feedback"></div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="edit-me-firstname">Prénom</label>
                    <input type="text" id="edit-me-firstname" class="form-control" required />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="edit-me-lastname">Nom de famille</label>
                    <input type="text" id="edit-me-lastname" class="form-control" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="edit-me-phone">Téléphone</label>
                    <input type="text" id="edit-me-phone" class="form-control" maxlength="10" required />
                    <div id="invalid-edit-me-phone" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="edit-me-email">Email</label>
                    <input type="text" id="edit-me-email" class="form-control" required />
                    <div id="invalid-edit-me-email" class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-address">Adresse</label>
                <textarea class="form-control" id="edit-me-address" rows="3" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-member" name="form-member">
            <div class="modal-body">
              <div class="row">
                <div class="mb-4 fst-italic">
                  <i class="bi-info-circle" style="color: purple;"></i>
                  Toute inscription est définitive, et l'adhésion restera dûe, même en cas de demande d'annulation de
                  cours.
                </div>
                <div class="accordion" id="modal-accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true"
                        data-bs-target="#member-info-section" aria-controls="member-info-section">
                        <span>Informations de l'adhérent</span>
                      </button>
                    </h2>
                    <div id="member-info-section" class="accordion-collapse collapse show template-data"
                      data-bs-parent="#modal-accordion">
                      <div class="accordion-body">
                        <div class="row align-items-baseline">
                          <div class="col-6">
                            <div class="form-check form-switch mb-3">
                              <input class="form-check-input" type="checkbox" role="switch" id="me-switch">
                              <label class="form-check-label" for="me-switch">Utiliser mes informations</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-outline mb-4 d-flex align-items-baseline">
                              <label class="form-label me-2" for="member-season">Saison</label>
                              <select id="member-season" class="form-select" disabled></select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-outline mb-4">
                              <label class="form-label required" for="member-firstname">Prénom</label>
                              <input type="text" id="member-firstname" class="form-control" />
                              <div id="invalid-member-first-name" class="invalid-feedback"></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-outline mb-4">
                              <label class="form-label required" for="member-lastname">Nom de famille</label>
                              <input type="text" id="member-lastname" class="form-control" />
                              <div id="invalid-member-last-name" class="invalid-feedback"></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-outline mb-4">
                              <label class="form-label required" for="member-birthday">Date de naissance</label>
                              <input type="date" id="member-birthday" class="form-control"  />
                              <div id="invalid-member-birthday" class="invalid-feedback"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="row">
                              <div class="form-outline mb-1">
                                <label class="form-label required" for="member-phone">Téléphone</label>
                                <input type="text" id="member-phone" class="form-control" maxlength="10" />
                                <div id="invalid-member-phone" class="invalid-feedback"></div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-outline mb-4">
                                <label class="form-label required" for="member-email">Email</label>
                                <input type="text" id="member-email" class="form-control" />
                                <div id="invalid-member-email" class="invalid-feedback"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="form-outline mb-4">
                              <label class="form-label required" for="member-address">Adresse</label>
                              <textarea class="form-control" id="member-address" rows="4"></textarea>
                              <div id="invalid-member-address" class="invalid-feedback"></div>
                            </div>
                          </div>
                        </div>

                        <div class="form-check form-switch mb-2">
                          <input class="form-check-input" type="checkbox" role="switch" id="pass-switch">
                          <label class="form-check-label" for="pass-switch">J'ai un code Pass Sport</label>
                        </div>
                        <div id="pass-div" hidden>
                          <div class="row align-items-end">
                            <div class="col form-outline mb-2">
                              <label class="form-label required" for="member-pass-code">Code</label>
                              <input type="text" id="member-pass-code" class="form-control" maxlength="11" />
                            </div>
                            <div class="col form-outline mb-2">
                              <label class="form-label" for="member-pass-amount">Montant (€)</label>
                              <input type="number" id="member-pass-amount" class="form-control" min="0" value="50" disabled/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#member-contact-section"
                        aria-controls="member-contact-section">
                        <span>Contacts</span>
                      </button>
                    </h2>
                    <div id="member-contact-section" class="accordion-collapse collapse collapsed template-data"
                      data-bs-parent="#modal-accordion">
                      <div class="accordion-body">
                        <div id="contact-responsible-div" class="d-none">
                          <h6 class="border-bottom mb-3 fw-semibold">Responsables de l'adhérent(e)</h6>
                          <div class="form-check form-switch mb-1">
                            <input class="form-check-input" type="checkbox" role="switch" id="responsible-me-switch"
                              checked>
                            <label class="form-check-label" for="responsible-me-switch">Je suis un représentant légal de
                              cet(te) adhérent(e)</label>
                          </div>
                          <p class="mt-3 mb-0 fst-italic">Autres responsables:</p>
                        </div>
                        <div id="contact-emergency-div">
                          <h6 class="border-bottom mb-3 fw-semibold">Contacts d'urgence (même pour les adultes)</h5>
                            <div class="form-check form-switch mb-1">
                              <input class="form-check-input" type="checkbox" role="switch" id="emergency-me-switch"
                                checked>
                              <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                data-bs-trigger="hover focus" data-bs-content="Impossible pour soi-même !"
                                data-bs-placement="bottom">
                                <label class="form-check-label" for="emergency-me-switch">Je suis contact d'urgence pour
                                  cet(te) adhérent(e)</label>
                              </span>
                            </div>
                            <p class="mt-3 mb-0 fst-italic">Autres contacts d'urgence:</p>
                        </div>
                        <div id="message-error-contact" class="p-3 mb-2 bg-danger-subtle text-danger-emphasis d-none">
                          Tous les champs d'un contact sont obligatoires.<br>
                          Format attendu pour le téléphone: 0123456789.<br>
                          Pour les responsables légaux (si besoin), vérifiez également que l'adresse email a un format valide.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item" id="member-courses-accordion">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#member-courses-section"
                        aria-controls="member-courses-section">
                        <span>Cours</span>
                      </button>
                    </h2>
                    <div id="member-courses-section" class="accordion-collapse collapse collapsed template-data"
                      data-bs-parent="#modal-accordion">
                      <div class="accordion-body">
                        <div class="form-outline mb-2" id="form-member-courses">
                          <div class="d-flex mb-3 align-items-center">
                            <label class="form-label min-w-fit me-3" for="member-courses">License FFD</label>
                            <select id="member-license" class="form-select"></select>
                          </div>
                          <label class="form-label" for="member-courses"><i>Maintenir la touche Ctrl enfoncée pour
                              sélectionner plusieurs cours</i></label>
                          <select id="member-courses" class="form-select" multiple></select>
                          <div class="invalid-feedback d-block">
                            Attention, toute modification, ajout ou suppression ultérieure de cours devra se faire
                            auprès de l'équipe K'Dance.
                          </div>
                          <p class="mb-2 mt-2"><strong>Adhésion à l'association:</strong> 10€</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#member-authorise-section"
                        aria-controls="member-authorise-section">
                        <span>Autorisations</span>
                      </button>
                    </h2>
                    <div id="member-authorise-section" class="accordion-collapse collapse collapsed template-data"
                      data-bs-parent="#modal-accordion">
                      <div class="accordion-body">
                        <div class="form-check mb-2">
                          <input class="form-check-input" type="checkbox" value="" id="authorise-photos" checked>
                          <label class="form-check-label" for="authorise-photos">
                            J'autorise l'association K'dance à utiliser les photos et/ou vidéos réalisées dans le cadre
                            de ses
                            activités à des fins promotionnelles y compris sur les réseaux sociaux de K’dance.
                          </label>
                        </div>
                        <div class="form-check mb-4 d-none" id="emergency">
                          <input class="form-check-input" type="checkbox" value="" id="authorise-emergency" checked>
                          <label class="form-check-label" for="authorise-emergency">
                            En tant que responsable légal de cet adhérent mineur, j'autorise l’encadrant de la section
                            danse ou un
                            membre du Conseil d’Administration à prendre, en cas d’accident, toutes mesures urgentes
                            tant
                            médicales que chirurgicales, y compris l’hospitalisation.
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="copy-member-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Renouveler un adhérent pour la nouvelle saison</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-outline">
              <label class="form-label" for="copy-member-select">Adhérent</label>
              <select id="copy-member-select" class="form-select"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="copy-btn" type="button" class="btn btn-info" data-bs-toggle="modal"
              data-bs-target="#member-modal">Renouveler</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-pwd-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Changer mon mot de passe</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-pwd" name="form-pwd">
            <div class="modal-body">
              <div class="form-group mb-4">
                <label class="form-label required" for="password-old">Ancien mot de passe</label>
                <div class="input-group">
                  <input type="password" id="password-old" class="form-control" required />
                  <span class="input-group-text">
                    <i class="bi bi-eye" id="toggle-password-old"></i>
                  </span>
                </div>
                <div id="invalid-pwd-old" class="invalid-feedback"></div>
              </div>
              <div class="form-group mb-4">
                <label class="form-label required" for="password">Nouveau mot de passe</label>
                <div class="input-group">
                  <input type="password" id="password" class="form-control" required />
                  <span class="input-group-text">
                    <i class="bi bi-eye" id="toggle-password"></i>
                  </span>
                </div>
                <div id="invalid-pwd" class="invalid-feedback"></div>
              </div>
              <div class="form-group mb-4">
                <label class="form-label required" for="password-confirmation">Confirmation du mot de passe</label>
                <div class="input-group">
                  <input type="password" id="password-confirmation" class="form-control" required />
                  <span class="input-group-text">
                    <i class="bi bi-eye" id="toggle-password-confirmation"></i>
                  </span>
                </div>
                <div id="invalid-pwd-confirmation" class="invalid-feedback">Le mot de passe ne correspond pas !</div>
              </div>
              <div id="message-error-edit-pwd" class="p-3 mb-2 bg-danger-subtle text-danger-emphasis d-none">
                Une erreur est survenue. Veuillez ré-essayer plus tard ou contacter K'Dance.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Modifier</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="delete-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="delete-btn" type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Mon compte K'Dance</h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <div class="fst-italic mb-4">
          <p>Cet espace vous permet de gérer vos inscriptions d'une année sur l'autre. Pensez à bien maintenir vos
          coordonnées à jour afin de pouvoir vous joindre facilement et partager les différentes informations avec vous
          tout au long de l'année.<br>
          A ce jour, le paiement en ligne n'est pas encore possible, mais vous pouvez voir facilement un statut de votre
          compte pour la saison en cours, et faire passer votre règlement à K'Dance au forum des associations ou lors des
          permanences.</p>
          Pour commencer l'inscription, cliquez sur <i class="bi-plus-square" style="color: purple;"></i> <span
            style="color:#0dcaf0;">Ajouter un nouvel adhérent</span> dans la saison en cours.
        </div>
        <div class="row mb-3">
          <div class="col-2">
            <img id="desc-picture" src="" class="img-thumbnail" alt="thumbs">
          </div>
          <div class="col">
            <dl class="row">
              <dt class="col-sm-5">Prénom:</dt>
              <dd id="desc-firstname" class="col-sm-7"></dd>
              <dt class="col-sm-5">Nom:</dt>
              <dd id="desc-lastname" class="col-sm-7"></dd>
              <dt class="col-sm-5">Nom d'utilisateur:</dt>
              <dd id="desc-username" class="col-sm-7"></dd>
              <dt class="col-sm-5">Email:</dt>
              <dd id="desc-email" class="col-sm-7"></dd>
              <dt class="col-sm-5">Téléphone:</dt>
              <dd id="desc-phone" class="col-sm-7"></dd>
              <dt class="col-sm-5">Adresse:</dt>
              <dd id="desc-address" class="col-sm-7"></dd>
            </dl>
          </div>
          <div class="col-1">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Modifier mes infos" data-bs-placement="left">
              <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#edit-me-modal">
                <i class="bi-pencil-fill"></i>
              </button>
            </span>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Modifier mon mot de passe" data-bs-placement="left">
              <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal"
                data-bs-target="#edit-pwd-modal">
                <i class="bi-lock-fill"></i>
              </button>
            </span>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="Supprimer mon compte" data-bs-placement="left">
              <button id="delete-me-btn" class="btn btn-outline-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#delete-modal">
                <i class="bi-trash3-fill"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="accordion" id="member-accordion">
          </div>
        </div>

        <!-- Template -->
        <template id="accordion-item-template">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true">
                <span>Saison</span>
              </button>
            </h2>
            <div class="accordion-collapse collapse show template-data">
              <div class="accordion-body">
                <div class="d-flex flex-wrap justify-content-between align-items-baseline">
                  <dl class="d-flex">
                    <dt class="me-2">Total dû:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                  <dl class="d-flex">
                    <dt class="me-2">Payé:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                  <dl class="d-flex">
                    <dt class="me-2">Remboursement perçu:</dt>
                    <dd class="payment">€</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </template>

        <template id="card-template">
          <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
              <div>
                <img height="30">
                <span></span>
              </div>
              <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#member-modal">
                <i class="bi-pencil-fill"></i>
              </button>
            </div>
            <div class="card-body">
              <ul></ul>
            </div>
          </div>
        </template>

        <template id="member-btn-template">
          <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#copy-member-modal"
            id="copy-member-btn">
            <i class="bi-plus-square" style="color: purple;"></i>
            Ajouter un adhérent d'une saison précédente
          </button>
          <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#member-modal"
            id="add-member-btn">
            <i class="bi-plus-square" style="color: purple;"></i>
            Ajouter un nouvel adhérent
          </button>
        </template>

        <template id="member-doc-template">
          <br>
          <li class="list-group-item">
            <i></i> Autorisation d'utilisation des photos
          </li>
          <li class="list-group-item">
            <i></i> Autorisation parentale
          </li>
          <li class="list-group-item">
            <i></i>
          </li>
        </template>

        <template id="contact-template">
          <div>
            <div class="row flex-wrap align-items-end">
              <div class="col">
                <div class="form-outline mb-4">
                  <label class="form-label" for="firstname-">Prénom</label>
                  <input type="text" id="firstname-" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline mb-4">
                  <label class="form-label" for="lastname-">Nom de famille</label>
                  <input type="text" id="lastname-" class="form-control" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline mb-4">
                  <label class="form-label" for="phone-">Téléphone</label>
                  <input type="text" id="phone-" maxlength="10" class="form-control" />
                  <div id="invalid-phone-" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline mb-4">
                  <label class="form-label" for="email-">Email</label>
                  <input type="text" id="email-" class="form-control" />
                  <div id="invalid-email-" class="invalid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <template id="add-contact-template">
          <div class="col-1 mb-4">
            <button class="btn btn-outline-info" type="button">
              <i class="bi-plus-square"></i>
            </button>
          </div>
        </template>

        <template id="remove-contact-template">
          <div class="col-1 mb-4">
            <button class="btn btn-outline-danger" type="button">
              <i class="bi-trash3-fill"></i>
            </button>
          </div>
        </template>

      </div>
      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const userMeUrl = "{% url 'api-user-me' %}";
    const userMePwdUrl = "{% url 'api-user-me-password' %}";
    const coursesUrl = "{% url 'api-courses-list' %}";
    const membersUrl = "{% url 'api-members-list' %}";
    const seasonsUrl = "{% url 'api-seasons-list' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/user.js' %}"></script>
</main>

{% endblock content %}