{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Modal -->
    {% csrf_token %}

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Listes et téléchargements</h1>
      </div>
      {% if user.is_authenticated and user.is_superuser %}
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="border-bottom">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'super_index' %}">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Listes et téléchargements</li>
        </ol>
      </nav>
      <div class="container mt-3">
        <div class="mb-3">
          <select id="season-select" class="form-select max-w-300">
          </select>
        </div>
        <p>Je veux voir...</p>
        <div class="d-flex mb-3">
          <div class="d-flex col">
            <select id="menu-1-select" class="form-select w-auto me-2">
            </select>
            <select id="menu-2-select" class="form-select w-auto me-2" hidden>
            </select>
          </div>
          <div class="d-flex col-1 justify-content-end">
            <button class="btn btn-info" type="button" id="search-btn">
              <i class="bi-search"></i>
            </button>
          </div>
        </div>
        <div class="border-top">
          <table id="data-table"></table>
        </div>
        <div class="d-flex mt-3">
          <dt class="me-2">Nombre total:</dt>
          <dd id="total-count">0</dd>
        </div>
        <div class="d-none" id="total-amount-div">
          <dt class="me-2">Somme totale:</dt>
          <dd id="total-amount"></dd>
        </div>

        <!-- Template -->
      </div>
      {% else %}
      <div class="text-center">
        <h4 class="display-4 mb-5">Oh oh, vous n'avez rien à faire là !</h4>
      </div>
      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const coursesUrl = "{% url 'api-courses-list' %}";
    const seasonsUrl = "{% url 'api-seasons-list' %}";
    const membersUrl = "{% url 'api-members-list' %}";
    const checksUrl = "{% url 'api-checks-list' %}";
  </script>
  <script src="{% static 'js/lists.js' %}"></script>
</main>

{% endblock content %}