<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toasts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="member-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="member-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <div id="member-success-toast" class="toast align-items-center bg-success" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="member-success-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    {% csrf_token %}
    <div class="modal fade" id="member-doc-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-doc-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-member-doc" name="form-member-doc">
            <div class="modal-body">
              <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="" id="authorise-photos" disabled>
                <label class="form-check-label" for="authorise-photos">Autorisation d'utilisation des photos</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="authorise-emergency" disabled>
                <label class="form-check-label" for="authorise-emergency">Autorisation parentale (mineurs)</label>
              </div>
              <div class="form-outline mb-4 d-flex align-items-baseline">
                <label class="form-label min-w-200" for="doc-select">Document médical</label>
                <select id="doc-select" class="form-select">
                  <option value="Manquant">Manquant</option>
                  <option value="Attestation">Attestation</option>
                  <option value="Certificat">Certificat</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-payment-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-payment-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-member-payment" name="form-member-payment">
            <div class="modal-body">
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="special-discount-switch">
                <label class="form-check-label" for="special-discount-switch">Remise exceptionnelle</label>
              </div>
              <div class="form-outline mb-4" id="special-discount-div" hidden>
                <label class="form-label fst-italic" for="payment-special-discount">Montant de la remise exceptionnelle
                  accordée (€)</label>
                <input type="number" id="payment-special-discount" step="0.01" class="form-control" min="0" />
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="cash-switch">
                <label class="form-check-label" for="cash-switch">Espèces</label>
              </div>
              <div class="form-outline mb-4" id="cash-div" hidden>
                <label class="form-label fst-italic" for="payment-cash">Montant reçu en espèces (€)</label>
                <input type="number" id="payment-cash" step="0.01" class="form-control" min="0" />
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="cb-switch">
                <label class="form-check-label" for="cb-switch">En ligne</label>
              </div>
              <div class="form-outline mb-4" id="cb-div" hidden>
                <label class="form-label fst-italic" for="payment-cb">Montant reçu en ligne (€)</label>
                <input type="number" id="payment-cb" class="form-control" min="0" disabled/>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="check-switch">
                <label class="form-check-label" for="check-switch">Chèques</label>
              </div>
              <div id="check-div" class="form-outline mb-4" hidden>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="ancv-switch">
                <label class="form-check-label" for="ancv-switch">ANCV</label>
              </div>
              <div class="row" id="ancv-div" hidden>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-ancv-amount">Somme reçue (€)</label>
                  <input type="number" step="0.01" id="payment-ancv-amount" class="form-control" />
                  <div id="invalid-ancv-amount" class="invalid-feedback"></div>
                </div>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-ancv-count">Nombre de chèques vacances</label>
                  <input type="number" id="payment-ancv-count" class="form-control" />
                  <div id="invalid-ancv-count" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="pass-switch">
                <label class="form-check-label" for="pass-switch">Pass Sport</label>
              </div>
              <div id="pass-div" hidden>
                <div class="row align-items-end">
                  <div class="col form-outline mb-4">
                    <label class="form-label fst-italic" for="payment-pass-code">Code</label>
                    <input type="text" id="payment-pass-code" class="form-control" maxlength="20" />
                  </div>
                  <div class="col form-outline mb-4">
                    <label class="form-label fst-italic" for="payment-pass-amount">Montant (€)</label>
                    <input type="number" id="payment-pass-amount" class="form-control" disabled />
                  </div>
                </div>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="coupon-switch">
                <label class="form-check-label" for="coupon-switch">Coupon sport mairie</label>
              </div>
              <div class="row" id="coupon-div" hidden>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-coupon-amount">Somme reçue (€)</label>
                  <input type="number" id="payment-coupon-amount" class="form-control" />
                  <div id="invalid-coupon-amount" class="invalid-feedback"></div>
                </div>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-coupon-count">Nombre de coupons sport</label>
                  <input type="number" step="0.01" id="payment-coupon-count" class="form-control" />
                  <div id="invalid-coupon-count" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="other-switch">
                <label class="form-check-label" for="other-switch">Autre</label>
              </div>
              <div class="row" id="other-div" hidden>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-other-amount">Somme reçue (€)</label>
                  <input type="number" step="0.01" id="payment-other-amount" class="form-control" />
                  <div id="invalid-other-amount" class="invalid-feedback"></div>
                </div>
                <div class="col form-outline mb-4">
                  <label class="form-label fst-italic" for="payment-other-comment">Commentaire (type de
                    paiement)</label>
                  <input type="text" id="payment-other-comment" class="form-control" />
                  <div id="invalid-other-comment" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="refund-switch">
                <label class="form-check-label" for="refund-switch">Remboursement</label>
              </div>
              <div class="form-outline mb-4" id="refund-div" hidden>
                <label class="form-label fst-italic" for="payment-refund">Remboursement effectué (€) - Si plusieurs
                  remboursements, additionner les valeurs</label>
                <input type="number" step="0.01" id="payment-refund" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="comment">Commentaire</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-license-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-license-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form-member-license" name="form-member-license">
            <div class="modal-body">
              <label class="form-label min-w-fit me-3" for="member-courses">License FFD</label>
              <select id="member-license" class="form-select">
                <option value="0" selected>Aucune</option>
                <option value="{{season.ffd_a_amount}}">Licence A Loisir ({{season.ffd_a_amount}}€)</option>
                <option value="{{season.ffd_b_amount}}">Licence B Compétiteur ({{season.ffd_b_amount}}€)</option>
                <option value="{{season.ffd_c_amount}}">Licence C Compétiteur national ({{season.ffd_c_amount}}€)</option>
                <option value="{{season.ffd_d_amount}}">Licence D Compétiteur international ({{season.ffd_d_amount}}€)</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-info">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-courses-delete-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-courses-delete-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex mb-2">
              <select id="courses-delete-select" class="form-select me-2" multiple></select>
            </div>
            <div id="cancelled-courses-div">
              Montant déjà remboursé: <span></span>€
            </div>
            <div class="form-outline mb-4">
              <label class="form-label " for="cancel-refund">Montant total à rembourser (montant déjà remboursé inclus,
                en €)</label>
              <input type="number" id="cancel-refund" class="form-control" min="0" value="0" />
              <div id="invalid-cancel-refund" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="delete-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirmer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-courses-add-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-courses-add-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Sélectionner le(s) cours à ajouter:
            <select id="add-courses-select" class="form-select mt-2 h-300" multiple></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="add-btn" type="button" class="btn btn-info" data-bs-dismiss="modal">Ajouter</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-courses-bypass-waiting-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-courses-bypass-waiting-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Sélectionner le(s) cours en attente à ajouter:
            <select id="bypass-waiting-courses-select" class="form-select mt-2" multiple></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="bypass-waiting-btn" type="button" class="btn btn-info" data-bs-dismiss="modal">Valider l'inscription</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-courses-update-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="member-courses-update-modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Utiliser cette fonctionnalité pour changer de cours (niveau, dédoublement, erreur). Un cours pour un cours.
            Pas d'annulation, ni de remboursement ici.
            <div class="form-outline mb-4 mt-4">
              <label class="form-label " for="course-actual-select">Cours à changer:</label>
              <select id="course-actual-select" class="form-select"></select>
              <div id="invalid-course-actual" class="invalid-feedback"></div>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label " for="course-next-select">Nouveau cours:</label>
              <select id="course-next-select" class="form-select"></select>
              <div id="invalid-course-next" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="update-btn" type="button" class="btn btn-info">Confirmer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="member-delete-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Supprimer un adhérent</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button id="member-delete-btn" type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Gestion des adhérents</h1>
      </div>
      {% if user.is_authenticated and user.is_superuser %}
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="border-bottom">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <div class="dropdown dropdown-hover" >
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'course_mgmt' %}">Gérer les cours</a></li>
                <li><a class="dropdown-item" href="{% url 'admin_mgmt' %}">Gérer les admins</a></li>
                <li><a class="dropdown-item" href="{% url 'site_mgmt' %}">Gérer le site</a></li>
                <li><a class="dropdown-item" href="{% url 'list_dl' %}">Listes et téléchargements</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'super_index' %}">Admin</a></li>
              </ul>
            </div>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Gestion des adhérents</li>
        </ol>
      </nav>
      <div class="container mt-3">
        <p class="fst-italic mb-4">
          Pour modifier le document médical d'un adhérent, cliquez sur
          <i class="bi-heart-pulse-fill main-blue" style="font-size: small;"></i>.<br />
          Pour mettre à jour le paiement, cliquez sur <i class="bi-currency-dollar main-blue"></i>.<br />
          Pour ajouter / déplacer / retirer des cours à un adhérent et/ou modifier sa licence, cliquez sur
          <i class="bi-pencil-fill main-blue" style="font-size: small"></i>.<br />
          Il est nécessaire d'annuler un cours avant de procéder à son éventuel remboursement (même partiel).
        </p>
        <div class="mb-3">
          <select id="season-select" class="form-select max-w-300">
          </select>
        </div>
        <div>
          <table id="members-table"></table>
        </div>
      </div>
      {% else %}
      <div class="text-center">
        <h4 class="display-4 mb-5">Oh oh, vous n'avez rien à faire là !</h4>
      </div>
      {% endif %}
    </div>

    <!-- Template -->
    <template id="check-template">
      <div>
        <div class="row">
          <div class="col form-outline mb-2">
            <label class="form-label fst-italic" for="payment-check-number-">N° de chèque</label>
            <input type="number" step="0.01" id="payment-check-number-" class="form-control" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="col form-outline mb-2">
            <label class="form-label fst-italic" for="payment-check-amount-">Montant (€)</label>
            <input type="number" step="0.01" id="payment-check-amount-" class="form-control" min="0" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="col form-outline mb-2">
            <label class="form-label fst-italic" for="payment-check-month-">Encaissement</label>
            <select id="payment-check-month-" class="form-select max-w-300"></select>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="row align-items-end border-bottom">
          <div class="col form-outline mb-4">
            <label class="form-label fst-italic" for="payment-check-name-">Emetteur</label>
            <input type="text" id="payment-check-name-" class="form-control" />
            <div class="invalid-feedback"></div>
          </div>
          <div class="col form-outline mb-4">
            <label class="form-label fst-italic" for="payment-check-bank-">Banque</label>
            <input type="text" id="payment-check-bank-" class="form-control" />
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>
    </template>

    <template id="add-check-template">
      <div class="col-1 mb-4">
        <button class="btn btn-outline-info" type="button">
          <i class="bi-plus-square"></i>
        </button>
      </div>
    </template>

    <template id="remove-check-template">
      <div class="col-1 mb-4">
        <button class="btn btn-outline-danger" type="button">
          <i class="bi-trash3-fill"></i>
        </button>
      </div>
    </template>
  </section>
  <script type="text/javascript">
    const coursesUrl = "{% url 'api-courses-list' %}";
    const seasonsUrl = "{% url 'api-seasons-list' %}";
    const membersUrl = "{% url 'api-members-list' %}";
    const paymentsUrl = "{% url 'api-payments-list' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/members.js' %}"></script>
</main>

{% endblock content %}
