<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="member-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="member-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3"></h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <form id="form-member" name="form-member"
        data-bs-firstname="{{user.first_name}}"
        data-bs-lastname="{{user.last_name}}"
        data-bs-email="{{user.email}}"
        data-bs-phone="{{user.profile.phone}}"
        data-bs-address="{{user.profile.address}}"
        data-bs-postal-code="{{user.profile.postal_code}}"
        data-bs-city="{{user.profile.city}}">
          {% csrf_token %}
          <div class="row">
            <div class="mb-4 fst-italic">
              <i class="bi-info-circle main-red"></i>
              Toute inscription est définitive, et l'adhésion restera dûe, même en cas de demande d'annulation de cours.
            </div>

            <h4 class="main-red">Informations de l'adhérent</h4>
            <div id="member-info-section" class="template-data">
              <div class="row align-items-baseline">
                <div class="col-sm-6">
                  <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="me-switch">
                    <label class="form-check-label" for="me-switch">Utiliser mes informations: adresse, email,
                      téléphone</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-outline mb-4 d-flex align-items-baseline">
                    <label class="form-label me-2" for="member-season">Saison</label>
                    <select id="member-season" class="form-select" disabled></select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-firstname">Prénom</label>
                    <input type="text" id="member-firstname" class="form-control" />
                    <div id="invalid-member-first-name" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-lastname">Nom de famille</label>
                    <input type="text" id="member-lastname" class="form-control" />
                    <div id="invalid-member-last-name" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-birthday">Date de naissance</label>
                    <input type="date" id="member-birthday" class="form-control" />
                    <div id="invalid-member-birthday" class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-outline mb-1">
                    <label class="form-label required" for="member-phone">Téléphone</label>
                    <input type="text" id="member-phone" class="form-control" maxlength="14" />
                    <div id="invalid-member-phone" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-email">Email</label>
                    <input type="text" id="member-email" class="form-control" />
                    <div id="invalid-member-email" class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-address">Adresse</label>
                    <textarea class="form-control" id="member-address" rows="2"></textarea>
                    <div id="invalid-member-address" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-postal-code">Code postal</label>
                    <input type="text" id="member-postal-code" class="form-control" maxlength="5" required />
                    <div id="invalid-member-postal-code" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="form-outline mb-4">
                    <label class="form-label required" for="member-city">Ville</label>
                    <input type="text" id="member-city" class="form-control" required />
                    <div id="invalid-member-city" class="invalid-feedback"></div>
                  </div>
                </div>
              </div>

              <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" role="switch" id="pass-switch">
                <label class="form-check-label" for="pass-switch">J'ai un code Pass Sport</label>
              </div>
              <div id="pass-div" hidden>
                <div class="row align-items-end">
                  <div class="col-7 col-sm form-outline mb-2">
                    <label class="form-label required" for="member-pass-code">Code</label>
                    <input type="text" id="member-pass-code" class="form-control" maxlength="20" />
                  </div>
                  <div class="col-5 col-sm form-outline mb-2">
                    <label class="form-label" for="member-pass-amount">Montant (€)</label>
                    <input type="number" id="member-pass-amount" class="form-control" min="0" value="50"
                      disabled />
                  </div>
                </div>
              </div>
            </div>

            <h4 class="mt-4 main-red">Contacts</h4>
            <div id="member-contact-section" class="template-data">
              <div id="contact-responsible-div" class="d-none">
                <h5 class="border-bottom mb-3 fw-semibold">Responsables de l'adhérent(e)</h5>
                <div class="form-check form-switch mb-1">
                  <input class="form-check-input" type="checkbox" role="switch" id="responsible-me-switch">
                  <label class="form-check-label" for="responsible-me-switch">Je suis un représentant légal de
                    cet(te) adhérent(e)</label>
                </div>
              </div>
              <div id="contact-emergency-div">
                <h5 class="border-bottom mb-3 fw-semibold">Contacts d'urgence (même pour les adultes)</h5>
                  <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" role="switch" id="emergency-me-switch">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                      data-bs-trigger="hover focus" data-bs-content="Impossible pour soi-même !"
                      data-bs-placement="bottom">
                      <label class="form-check-label" for="emergency-me-switch">Je suis contact d'urgence pour
                        cet(te) adhérent(e)</label>
                    </span>
                  </div>
              </div>
              <div id="message-error-contact" class="p-3 mb-2 bg-danger-subtle text-danger-emphasis d-none">
                Tous les champs d'un contact sont obligatoires.<br />
                Format attendu pour le téléphone: 0123456789.<br />
                Pour les responsables légaux (si besoin), vérifiez également que l'adresse email a un format
                valide.
              </div>
              <div id="message-error-mandatory-contact" class="p-3 mb-2 bg-danger-subtle text-danger-emphasis d-none">
              </div>
            </div>

            <h4 class="main-red">Cours</h4>
            <div id="member-courses-section" class="template-data">
              <div class="form-outline mb-4" id="form-member-courses">
                <div class="d-flex mb-3 align-items-center">
                  <label class="form-label min-w-fit me-3" for="member-courses">License FFD</label>
                  <div>
                    <select id="member-license" class="form-select">
                      <option value="0" selected>Aucune</option>
                      <option value="{{season.ffd_a_amount}}">Licence A Loisir ({{season.ffd_a_amount}}€)</option>
                      <option value="{{season.ffd_b_amount}}">Licence B Compétiteur ({{season.ffd_b_amount}}€)</option>
                      <option value="{{season.ffd_c_amount}}">Licence C Compétiteur national ({{season.ffd_c_amount}}€)</option>
                      <option value="{{season.ffd_d_amount}}">Licence D Compétiteur international ({{season.ffd_d_amount}}€)</option>
                    </select>
                    <div id="invalid-member-license" class="invalid-feedback"></div>
                  </div>
                </div>
                <div id="member-courses"></div>
                <div id="invalid-member-courses" class="invalid-feedback"></div>
                <p class="mb-4 mt-4"><strong>Adhésion à l'association:</strong> 10€</p>
              </div>
            </div>

            <h4 class="main-red">Autorisations</h4>
            <div id="member-authorise-section" class="template-data">
              <div class="form-check mb-2 d-none" id="emergency">
                <input class="form-check-input" type="checkbox" value="" id="authorise-emergency" checked>
                <label class="form-check-label" for="authorise-emergency">
                  En tant que responsable légal de cet adhérent mineur, j'autorise l’encadrant de la section
                  danse ou un
                  membre du Conseil d’Administration à prendre, en cas d’accident, toutes mesures urgentes
                  tant
                  médicales que chirurgicales, y compris l’hospitalisation.
                </label>
              </div>
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="authorise-photos" checked>
                <label class="form-check-label" for="authorise-photos">
                  J'autorise l'association K'dance à utiliser les photos et/ou vidéos réalisées dans le cadre
                  de ses
                  activités à des fins promotionnelles y compris sur les réseaux sociaux de K’dance.
                </label>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary" onclick="window.location='/'">Annuler</button>
          <button type="submit" class="btn btn-info">Enregistrer</button>
        </form>
      </div>

      <!-- Template -->
      <template id="contact-template">
        <div>
          <div class="row flex-wrap align-items-end">
            <div class="col-sm">
              <div class="form-outline mb-4">
                <label class="form-label required" for="firstname-">Prénom</label>
                <input type="text" id="firstname-" class="form-control" />
              </div>
            </div>
            <div class="col-sm">
              <div class="form-outline mb-4">
                <label class="form-label required" for="lastname-">Nom de famille</label>
                <input type="text" id="lastname-" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-outline mb-4">
                <label class="form-label required" for="phone-">Téléphone</label>
                <input type="text" id="phone-" maxlength="14" class="form-control" />
                <div id="invalid-phone-" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-outline mb-4">
                <label class="form-label required" for="email-">Email</label>
                <input type="text" id="email-" class="form-control" />
                <div id="invalid-email-" class="invalid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
      </template>

      <template id="add-contact-template">
        <div class="col-1 mb-4">
          <button class="btn btn-outline-info" type="button">
            <i class="bi-plus-square"></i>
          </button>
        </div>
      </template>

      <template id="remove-contact-template">
        <div class="col-1 mb-4">
          <button class="btn btn-outline-danger" type="button">
            <i class="bi-trash3-fill"></i>
          </button>
        </div>
      </template>

      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const coursesUrl = "{% url 'api-courses-list' %}";
    const membersUrl = "{% url 'api-members-list' %}";
    const seasonsUrl = "{% url 'api-seasons-list' %}";
    const settingsUrl = "{% url 'api-settings-detail' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/member.js' %}"></script>
</main>

{% endblock content %}
