{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Changer mon mot de passe</h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <form id="form-pwd" name="form-pwd">
          {% csrf_token %}
          <div class="form-group mb-4">
            <label class="form-label required" for="password-old">Ancien mot de passe</label>
            <div class="input-group">
              <input type="password" id="password-old" class="form-control" required />
              <span class="input-group-text">
                <i class="bi bi-eye" id="toggle-password-old"></i>
              </span>
            </div>
            <div id="invalid-pwd-old" class="invalid-feedback"></div>
          </div>
          <div class="form-group mb-4">
            <label class="form-label required" for="password">Nouveau mot de passe</label>
            <div class="input-group">
              <input type="password" id="password" class="form-control" required />
              <span class="input-group-text">
                <i class="bi bi-eye" id="toggle-password"></i>
              </span>
            </div>
            <div id="invalid-pwd" class="invalid-feedback"></div>
          </div>
          <div class="form-group mb-4">
            <label class="form-label required" for="password-confirmation">Confirmation du mot de passe</label>
            <div class="input-group">
              <input type="password" id="password-confirmation" class="form-control" required />
              <span class="input-group-text">
                <i class="bi bi-eye" id="toggle-password-confirmation"></i>
              </span>
            </div>
            <div id="invalid-pwd-confirmation" class="invalid-feedback">Le mot de passe ne correspond pas !</div>
          </div>
          <div id="message-error-edit-pwd" class="p-3 mb-2 bg-danger-subtle text-danger-emphasis d-none">
            Une erreur est survenue. Veuillez ré-essayer plus tard ou contacter K'Dance.
          </div>
          <button type="button" class="btn btn-secondary" onclick="window.location='/'">Annuler</button>
          <button type="submit" class="btn btn-info">Modifier</button>
        </form>
      </div>
      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const userMePwdUrl = "{% url 'api-user-me-password' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/user_edit_pwd.js' %}"></script>
</main>

{% endblock content %}
