<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>
    <!-- Toasts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="user-delete-error-toast" class="toast align-items-center bg-alert" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-semibold" id="user-delete-error-body"></div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- Content -->
    {% csrf_token %}
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Supprimer mon compte K'Dance</h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <p>Etes-vous sur.e de vouloir supprimer votre compte ainsi que tous les adhérents associés ?</p>
        <p>Vous pourrez toujours recréer un compte par la suite. Mais toutes les données précédemment entrées seront perdues.</p>
        <button type="button" class="btn btn-secondary" onclick="window.location='/'">Annuler</button>
        <button id="user-delete-btn" type="submit" class="btn btn-danger">Supprimer</button>
      </div>
      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const userMeUrl = "{% url 'api-user-me' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/user_delete.js' %}"></script>
</main>

{% endblock content %}
