<!-- Copyright 2024, 2025 Andréa Marnier

This file is part of KDance registration.

KDance registration is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or any later version.

KDance registration is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with KDance registration. If not, see <https://www.gnu.org/licenses/>. -->

{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<main>
  <section>

    <!-- Content -->
    <div class="container">
      <div class="text-center">
        <h1 class="display-4 mb-3">Mettre à jour mes informations</h1>
      </div>
      {% if user.is_authenticated %}
      <div class="container">
        <form id="form-me" name="form-me">
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-firstname">Prénom</label>
                <input type="text" id="edit-me-firstname" class="form-control" required />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-lastname">Nom de famille</label>
                <input type="text" id="edit-me-lastname" class="form-control" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-phone">Téléphone</label>
                <input type="text" id="edit-me-phone" class="form-control" maxlength="10" required />
                <div id="invalid-edit-me-phone" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-email">Email</label>
                <input type="text" id="edit-me-email" class="form-control" required />
                <div id="invalid-edit-me-email" class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label required" for="edit-me-address">Adresse</label>
            <textarea class="form-control" id="edit-me-address" rows="2" required></textarea>
            <div id="invalid-edit-me-address" class="invalid-feedback"></div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-postal-code">Code postal</label>
                <input type="text" id="edit-me-postal-code" class="form-control" maxlength="5" required />
                <div id="invalid-edit-me-postal-code" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-12 col-sm-8">
              <div class="form-outline mb-4">
                <label class="form-label required" for="edit-me-city">Ville</label>
                <input type="text" id="edit-me-city" class="form-control" required />
                <div id="invalid-edit-me-city" class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary" onclick="window.location='/'">Annuler</button>
          <button type="submit" class="btn btn-info">Enregistrer</button>
        </form>
      </div>

      {% endif %}
    </div>
  </section>
  <script type="text/javascript">
    const userMeUrl = "{% url 'api-user-me' %}";
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/user_edit.js' %}"></script>
</main>

{% endblock content %}
